
.DS_Store
.Rhistory
.Rproj.user/1D150B5B/console06/INDEX001
.Rproj.user/1D150B5B/pcs/files-pane.pper
.Rproj.user/1D150B5B/pcs/source-pane.pper
.Rproj.user/1D150B5B/pcs/windowlayoutstate.pper
.Rproj.user/1D150B5B/pcs/workbench-pane.pper
.Rproj.user/1D150B5B/rmd-outputs
.Rproj.user/1D150B5B/saved_source_markers
.Rproj.user/1D150B5B/sources/per/t/E4B0A72E
.Rproj.user/1D150B5B/sources/per/t/E4B0A72E-contents
.Rproj.user/1D150B5B/sources/prop/27F6DBED
.Rproj.user/1D150B5B/sources/prop/3227B029
.Rproj.user/1D150B5B/sources/prop/3F958383
.Rproj.user/1D150B5B/sources/prop/570F59A
.Rproj.user/1D150B5B/sources/prop/5F93DC37
.Rproj.user/1D150B5B/sources/prop/694D1C3
.Rproj.user/1D150B5B/sources/prop/9CF0C63E
.Rproj.user/1D150B5B/sources/prop/CF754E0E
.Rproj.user/1D150B5B/sources/prop/DA8AEB54
.Rproj.user/1D150B5B/sources/prop/DE556B11
.Rproj.user/1D150B5B/sources/prop/E0B2E4C1
.Rproj.user/1D150B5B/sources/prop/EC493C9C
.Rproj.user/1D150B5B/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user
manuscript/packages.bib
